@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-size: cover;
  font-family: "Indie Flower", cursive;
}

body {
  background-image: url("../img/background.gif");
}

#board {
  padding: 20px;
  margin-left: 50px;
}

#board .photos {
  display: inline-block;
  position: relative;
}

#title {
  display: flex;
  justify-content: center;
  margin: 30px;
}



#board .photos {
  display: inline-block;
  position: relative;
}

#board .photos .front {
  width: 225px;
  height: 180px;
  margin: 10px;
  padding: 20px;
  font-size: 64px;
}

#mysterius {
  display: flex;
  justify-content: flex-end;
  align-content: stretch;
  position: relative;
  bottom: 864px;
  right: 50px;
  z-index: -1;
}

#mysterius img {
  width: 300px;
}

#question-board {
  position: relative;
  /* top: 310px; */
  width: 350px;
  background-color: rgb(66, 29, 125, 0.5);
  /* margin: 25px; */
  color: white;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* justify-content: space-between; */
  /* height: 750px;*/
  margin-right: 50px;
}

#general-board{
  display: flex;
    position: absolute;
    top: 171px;
}

#question-board .buttons {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

#question-board .buttons button {
  background-color: #a696c7;
  width: 70px;
  height: 30px;
  border-radius: 25%;
  color:#422f48;
  font-size: 18px;
}





#score-clicks-box{

  display: flex;
  position: relative;
  bottom: 178px;
  color: #FFE;
  align-items: center;
  right: 190px;
  font-size: 30px;
 
  justify-content: space-evenly;
 
}

/* modal */

.modal {
  position: fixed;
  top: 85px;
  left: 400px;
  background: rgba(0, 0, 0, 0.8);
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
  z-index: 12;
}
#btn-modal:checked ~ .modal {
  opacity: 1;
  visibility: visible;
}
.contenedor {
  width: 400px;
  height: 300px;
  margin: auto;
  background: rgb(66, 29, 125, 0.5);
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
  transition: all 500ms ease;
  position: relative;
  transform: translateY(-30%);
  z-index: 12;
}
#btn-modal:checked ~ .modal .contenedor {
  transform: translateY(0%);
}
.contenedor header {
  padding: 10px;
  background: #eb8546;
  color: #fff;
}
.contenedor label {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
.contenido {
  width: 100%;
  padding: 10px;
  color: #fff;
}

.contenido ol{
  padding-left: 20px;
}

.contenido li {
list-style: none;
padding-top: 20px;
}

.contenido h3 {
  margin-bottom: 10px;
}
.contenido p {
  margin-bottom: 7px;
}
#btn-modal {
  display: none;
}
.lbl-modal {
  background: #44208f;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  left: 200px;
  top: 135px;
  color:white;
}

